# ===== .NET (server) =====
server/**/bin/
server/**/obj/
server/**/*.user
server/**/*.suo
server/**/.vs/
server/**/appsettings_hide.json

# ===== Angular (client) =====
client/node_modules/
client/dist/
client/.angular/


*/md

# ===== Chung =====
*.log
.env
.env.*
.DS_Store
Thumbs.db

Interview/
Analysis/

DB_CONFIG_GUIDE.md
PROJECT_SETUP_GUIDE.md